registry=https://registry.npmjs.org
@welab:registry=https://nexus-repo.prod-ss.welabts.net/repository/npm-hosted/
//nexus-repo.prod-ss.welabts.net/repository/npm-hosted/:_authToken=NpmToken.ae6f016c-58b7-392f-9594-5aa2b283a0b2